*{
        margin: 0;
        padding: 0;
    }
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(6, 1fr);
        row-gap: 1em;
        column-gap: 1em;
    }
    .Aboutme{
        font-family: 'PP Monument Extended_r', sans-serif;
        font-size: 3em;
        display: grid;
        padding: 1em;
        padding-top: 1em;
        color: black;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 0;
        margin: 0;
    }
    .Descripcion{
        font-family: 'PP Monument Extended_r', sans-serif;
        font-size: 1.8em;
        display: grid;
        padding: 1em;
        padding-top: 1em;
        color: black;
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 5;
        padding: 0;
        margin: 0;
    }
    .pages{
        font-family: 'PP Monument Extended_b', sans-serif;
        font-size: 2.5em;
        display: flex;
        flex-direction: column;
        text-align: right;
        color: #3C42E3;
        line-height: 190%;
        grid-column-start: 7;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 6;
        padding: 0;
        margin: 0;
    }
